
/* Your CSS Code here. *//* Your CSS Code here. */
 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #0c0c0c;
      color: #f5f5f5;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
    }
.moviePic{
	height: 300px;
	width: 450px;
	opacity: 0.9;
	border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    margin-top: 40px;
    transition: transform 0.3s, opacity 0.3s;
}
.moviePic:hover {
      transform: scale(1.05);
      opacity: 1;
    }
.movieDetail {
	position: relative;
	top: 30px;
	width: 60%;
	text-align: center;
	font-size: 18px;
	line-height: 1.6;
	color: #e0e0e0;
}